@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");

:root {
  --inter: "Inter", sans-serif;
  --fraunces: "Fraunces", serif;
  --blue: #0070a0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(14px, 1.6vw, 18px);
  color: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

header {
  font-family: var(--inter);
  padding-block: 1.25rem;
}

.con {
  max-width: 1130px;
  margin-inline: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .left-side,
.navbar .right-side {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-side,
.right-side {
  font-size: 15px;
}

.left-side {
  color: #33383f;
}

.right-side .sign-in {
  color: var(--blue);
}

.book {
  display: block;
  color: white;
  background: var(--blue);
  padding: 0.5rem 1rem;
}

.hero {
  padding-block: 3rem;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero__text .big-text {
  font-family: var(--fraunces);
  font-size: 58px;
  line-height: 63.8px;
}

.hero__text .small-text {
  font-family: var(--inter);
  font-size: 20px;
  line-height: 30px;
}

.hero__btns {
  font-family: var(--inter);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hero__btns .more {
  color: var(--blue);
  display: flex;
  align-items: center;
}

.trusted-by {
  padding-block: 3rem;
}

.trusted-by .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}

.trusted-by .head {
  font-family: var(--inter);
  font-size: 24px;
  text-align: center;
}

.trusted-by .logos {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.trusted-by .bot {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 6rem 0 3rem 0;
}

.trusted-by .bot .card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.trusted-by .bot .card--yellow {
  background: #faea73;
}
.trusted-by .bot .card--blue {
  background: #cceff6;
}
.trusted-by .bot .card--pink {
  background: #f7cedc;
}

.trusted-by .bot .card__head {
  font-family: var(--fraunces);
  font-size: 25px;
}

.trusted-by .bot .card__text {
  font-family: var(--inter);
  font-size: 15px;
  line-height: 24px;
}

.we-will {
  padding: 3rem 0 2rem 0;
  background: #f7f9fa;
}

.we-will__inner {
  display: flex;
  justify-content: space-between;
}

.we-will .big-text {
  font-family: var(--fraunces);
  font-size: 42px;
}

.we-will .we-will__accordion {
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.we-will .accordion__item {
  max-width: 450px;
  display: flex;
  align-items: start;
  gap: 1rem;
  border-top: 1px solid #c2cdd8;
  border-bottom: 1px solid #c2cdd8;
  padding: 1rem;
}

.we-will .accordion__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.we-will .accordion__title {
  display: flex;
  justify-content: space-between;
  font-family: var(--fraunces);
  color: #626a72;
  font-size: 21px;
  cursor: pointer;
}
.we-will .accordion__content {
  display: none;
  max-height: 0;
  overflow: hidden;
  font-family: var(--inter);
  font-size: 16px;
  line-height: 24px;
}

.we-will .accordion__item.active .accordion__content {
  max-height: max-content;
  display: block;
}

.we-will .accordion__item.active .accordion__title {
  color: #1f1f1f;
}

.about {
  padding-block: 6rem;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about .about__head {
  font-family: var(--fraunces);
  font-size: 42px;
}

.about .about__boxes {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.about__box .box-head {
  font-size: 25;
  font-family: var(--fraunces);
}

.about__box .box-text {
  font-size: 15px;
  line-height: 24px;
  font-family: var(--inter);
  margin-top: 1rem;
}

.set {
  padding-block: 4rem;
  background: var(--blue);
}

.set__inner {
  display: flex;
  justify-content: space-between;
}

.set .right-side {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.set .right-side__title {
  font-family: var(--fraunces);
  font-size: 42px;
}

.set .right-side__subtitle {
  font-size: 18px;
  font-family: var(--inter);
  line-height: 27px;
}

.set .right-side__features {
  font-size: 16px;
  font-family: var(--inter);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.set .right-side__features li {
  display: flex;
  gap: 0.5rem;
}

.set__book {
  padding: 1rem 2rem;
}

.automated {
  padding-block: 7rem;
}

.automated .top .head {
  font-family: var(--fraunces);
  font-size: 42px;
}

.automated .top .text {
  font-family: var(--inter);
  line-height: 27px;
  font-size: 18px;
  margin-top: 1rem;
}

.automated .bot {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3.5rem;
}

.automated .box__icon {
  width: 55px;
  height: 55px;
}

.automated .box__title {
  font-family: var(--fraunces);
  font-size: 25px;
}

.automated .box__subtitle {
  font-family: var(--inter);
  line-height: 24px;
  font-size: 16px;
  margin-top: 1rem;
}

.smarter {
  padding-block: 3rem;
  background: #f7f9fa;
}

.smarter__head {
  font-family: var(--fraunces);
  font-size: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smarter__link {
  font-family: var(--inter);
  font-size: 17px;
  color: var(--blue);
}

.smarter__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.smarter__card {
  background: white;
}

.smarter__card .smarter__text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.smarter__text .tag {
  font-size: 12px;
  font-family: var(--inter);
  color: #2c90c9;
  background: #e6f7ff;
  padding: 0.25rem 1rem;
  letter-spacing: 0.4px;
}

.smarter__text .title {
  font-family: var(--fraunces);
  font-size: 25px;
}

.smarter__text .subtitle {
  font-family: var(--inter);
  font-size: 14px;
  line-height: 19.6px;
}

.smarter__text .date {
  font-family: var(--inter);
  font-size: 12px;
}

.get-started {
  padding-block: 3rem;
}

.get-started__inner {
  padding: 3rem;
  background-color: #e6f7ff;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.get-started__head {
  font-family: var(--fraunces);
  font-size: 42px;
}

.get-started__text {
  font-family: var(--inter);
  font-size: 18px;
  line-height: 27px;
}

.get-started__features {
  display: flex;
  gap: 2rem;

  font-size: 13px;
  font-family: var(--inter);
  color: #626a72;
}

.footer__inner {
  display: flex;
  flex-direction: column;

  font-family: var(--inter);
}

.footer__inner .top {
  display: flex;
  justify-content: space-between;
  padding-block: 4rem;
}

.footer__inner .links-side {
  display: flex;
  gap: 5rem;
}

.footer__inner .links-side .title {
  font-size: 15px;
}

.footer__inner .links-side .col__items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 14px;
  color: #626a72;
  margin-top: 1rem;
}

.footer__inner .footer__form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer__inner .footer__form label {
  font-size: 16px;
  line-height: 24px;
}

.footer__inner .footer__form .input-wrapper {
  position: relative;
}

.footer__inner .footer__form input {
  border: none;
  border-bottom: 1px solid #c2cdd8;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.footer__inner .footer__form input:focus {
  outline: none;
}

.footer__inner .footer__form .footer__arrow-right {
  position: absolute;
  bottom: 0.25rem;
  right: 0;
}

.footer__inner .credits {
  font-size: 14px;
  margin-top: 1rem;
  line-height: 20px;
}

.footer__inner .credits__link {
  color: var(--blue);
}

.footer__inner .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner .bottom .copyright {
  font-size: 13px;
  margin-block: 2rem;
}

.footer__inner .bottom .copyright a {
  color: var(--blue);
}

.footer__inner hr {
  border-style: solid;
  border-color: #DEE5EB;
}

.footer__inner .bottom .icons {
  display: flex;
    gap: 1rem;
}